* {
    font-family: "Ubuntu Nerd Font Mono Bold";
    font-weight: bold;
    font-size: 14px;
}

window#waybar {
    background-color: #1e1e2e;
}

#window#waybar.empty #window {
    color: transparent;
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

#window {
	padding-left: 2px;
	padding-right: 2px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: #cba6f7;
    border-bottom: 2px solid #cba6f7;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f5e0dc;
    border-bottom: 2px solid #f5e0dc;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: #cba6f7;
    border-bottom: 2px solid #cba6f7;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window,

#backlight,
#pulseaudio,
#battery,
#clock,

#backlight {
	color: #f9e2af;
	border-bottom: 2px solid #f9e2af;
}

#pulseaudio {
	color: #89b4fa;
	border-bottom: 2px solid #89b4fa;
}

#battery {
	color: #a6e3a1;
	border-bottom: 2px solid #a6e3a1;
}

#clock {
	color: #eba0ac;
	border-bottom: 2px solid #eba0ac;
	margin-right: 6px;
}
